@include scut-reset;

html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: $color-gray-dark-1;
}

// Removes box shadow on iOS
// see: https://www.abeautifulsite.net/how-to-remove-box-shadows-from-input-controls-on-ios
input[type=text],
input[type=email],
input[type=password],
textarea {
    -webkit-appearance: none;
}

// eliminates white-space under `img`
// see: https://stackoverflow.com/a/14720811
img {
    vertical-align: bottom;
}
