.margin-b {
    &-1,
    &-1:last-of-type {
        margin-bottom: $baseunit;
    }
    &-2,
    &-2:last-of-type {
        margin-bottom: $baseunit * 2;
    }
    &-3,
    &-3:last-of-type {
        margin-bottom: $baseunit * 3;
    }
}

.text-center {
    text-align: center;
}

.sr-only {
    @include scut-hide-visually;
}
