// Wrap in a block to avoid introducing global scope variables
.landing {
    &-header {
        @extend .container;
        @include full-width-bg($color-seafoam) {
            height: 100%;
        }
        @include full-width-bg($color-none, $pseudoelement-after: true) {
            height: 0;
            width: 0;
            top: 100%;
            border-top: ($baseunit * 3) solid $color-seafoam;
            border-right: 100vw solid $color-none;
        }

        display: flex;
        align-items: center;
        min-height: 70vh;
        max-height: $baseunit * 35;

        &__container {
            width: 100%;
        }
    }
    &-video {
        @extend .container;
        @include full-width-bg($color-none) {
            top: -5vw;
            height: 105vw;
            width: 100vw;
            background-image: url('../../assets/images/drawing-stethescope.png');
            background-position: top right -30vw;
            background-repeat: no-repeat;
            background-size: auto 100%;
            z-index: $z-index-front-1;
            opacity: 0.4;
        }
        @include full-width-bg(
            $color-gold-light-2,
            $pseudoelement-after: true
        ) {
            top: 60%;
            left: 60%;
            margin-top: -50vw;
            margin-left: -100vw;
            height: 100vw;
            width: 100vw;
            border-radius: 100%;
            z-index: $z-index-behind-2;
        }

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-end;
        position: relative;
        min-height: 55vh;
        max-height: $baseunit * 25;

        &__description {
            z-index: $z-index-front-1;
        }
        &__preview {
            margin-top: $baseunit * 2;
            width: 50%;
            max-width: $baseunit * 15;
        }
        &__button {
            @include scut-center-transform;

            top: calc(100% - #{$height-control * 1.5});
            left: 75%;
            height: $height-control;
            width: $height-control;
            background-color: $color-gold;
            color: $color-gold-dark-1;
            border: 1px solid $color-gold-dark-1;
            border-radius: 100%;

            &:after {
                $triangle-size: $height-control * 0.4;
                @include scut-triangle(right, $triangle-size);

                content: '';
                position: relative;
                top: $triangle-size * 0.1;
                left: $triangle-size * 0.1;
            }
        }
    }
    &-cover-video-overflow {
        @include full-width-bg($color-white);
    }

    // vertical spacing for landscape orientation for iPhone 5
    @media (orientation: landscape) {
        &-header {
            min-height: 90vh;
        }
        &-video {
            min-height: 110vh;
        }
    }
    // vertical spacing for landscape orientation for iPhone 6 Plus
    @media (orientation: landscape) and (min-width: $media-width-landscape-medium-mobile) {
        &-header {
            min-height: 70vh;
        }
        &-video {
            min-height: 90vh;
        }
    }
    // vertical spacing for landscape orientation for iPhone X and Pixel 2 XL
    @media (orientation: landscape) and (min-width: $media-width-landscape-large-mobile) {
        &-header {
            min-height: 90vh;
        }
        &-video {
            min-height: 70vh;

            &:before {
                top: -35vw;
            }
        }
    }
    // vertical spacing for actual large width
    @media (min-width: $media-width-tablet) and (min-height: $media-height-actual-tablet) {
        $hero-total-height: 98vh;
        $nav-and-header-proportion: 0.7;
        $header-slant-height: $baseunit * 5;

        &-header {
            min-height: calc(
                #{$hero-total-height * $nav-and-header-proportion} - #{$header-slant-height} -
                    #{$height-nav}
            );

            &:after {
                border-top-width: $header-slant-height;
            }
        }
        &-video {
            min-height: calc(
                #{$hero-total-height * (1 - $nav-and-header-proportion)} + #{$header-slant-height}
            );

            &:before {
                $drawing-size-multiple: 7.5;

                top: -35vh;
                height: $drawing-size-multiple * 10vw;
                background-position: top right ($drawing-size-multiple * -2vw);
            }
        }
    }
    // actual large width size general styles
    @media (min-width: $media-width-tablet) {
        &-header {
            &__container {
                width: 60%;
            }
        }
        &-video {
            $play-button-left-position: 50%;

            flex-wrap: nowrap;

            &:before {
                opacity: 0.8;
            }
            &:after {
                top: 50%;
                left: $play-button-left-position;
            }
            &__description {
                width: calc(#{$play-button-left-position} - #{$height-control});
            }
            &__preview {
                position: absolute;
                left: calc(#{$play-button-left-position} + #{$height-control});
                bottom: 0;
                max-height: 80%;
                width: auto;
                max-width: 40vw;
                margin-top: 0;
                transform: rotateY(180deg);
            }
            &__button {
                top: calc(50% + #{$baseunit});
                left: $play-button-left-position;
            }
        }
    }
}

.landing-mission {
    @extend .container;
    @extend .container--narrow;
    @include full-width-bg($color-gold-light-1) {
        height: $baseunit;
    }
    @include full-width-bg($color-none, $pseudoelement-after: true) {
        background-image: url('../../assets/images/bg-blue-wave.png');
        background-position: center left -10vw;
        background-repeat: no-repeat;
        background-size: 160vw 70%;

        @media (min-width: $media-width-tablet) {
            background-size: 120vw 70%;
        }
    }

    padding: ($baseunit * 5) 0;

    &__title {
        @include scut-hide-visually;
    }
}

.landing-values {
    $value-image-space: $baseunit * 4;
    $value-image-vertical-offset: $value-image-space * -0.5;
    @extend .container;

    overflow: hidden;
    padding-top: abs($value-image-vertical-offset);

    &__value {
        display: flex;
        position: relative;
        margin-bottom: $baseunit * 5;

        &__image {
            position: absolute;
            top: $value-image-vertical-offset;
            left: calc(100% - #{$value-image-space * 1.5});
            width: $value-image-space * 2.5;
            opacity: 0.4;
        }

        @media (min-width: $media-width-tablet) {
            &--reversed {
                flex-direction: row-reverse;
            }

            &__description {
                width: 50%;
            }
            &__image {
                position: initial;
                height: auto;
                width: 50%;
                padding: 0 10%;
                opacity: 1;
            }
        }
    }
}

.landing {
    $ellipse-height: $baseunit * 10;

    &-categories {
        $divider-height: $baseunit;
        $nav-height: $baseunit * 4;

        @extend .container;
        @include full-width-bg($color-none) {
            height: $nav-height + $divider-height;
            background: linear-gradient(
                $color-gold-light-1 $divider-height,
                $color-gold-light-2 $divider-height
            );
        }
        @include full-width-bg($color-white, $pseudoelement-after: true) {
            top: auto;
            bottom: $ellipse-height * -0.5;
            height: $ellipse-height;
            border-radius: 100%;
            z-index: $z-index-front-1;
        }

        &__nav {
            display: flex;
            height: $nav-height + $divider-height;
            padding-top: $divider-height;

            &__arrow {
                flex-shrink: 0;
                height: $nav-height;
                width: $nav-height;
                background-image: url('../../assets/images/icon-arrow.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: $baseunit * 2;
                cursor: pointer;
                transform: rotateY(180deg);

                &--back {
                    right: auto;
                    left: 0;
                    transform: none;
                }
            }
            &__items {
                @include scut-list-unstyled;

                display: flex;
                align-items: stretch;
                justify-content: center;
                height: 100%;
                min-width: 0;
                flex-grow: 1;
            }
            &__item {
                position: relative;
                min-width: 0;
                flex-basis: 100%;
                color: transparent;
                overflow: hidden;

                &:before {
                    @include scut-center-transform;
                    content: '';
                    height: $baseunit * 0.5;
                    width: $baseunit * 0.5;
                    background-color: $color-gray-light-1;
                    border-radius: 100%;
                }
                &--active:before {
                    background-color: $color-navy;
                }

                &__control {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    border-width: 0;
                    border-radius: 0;
                }
            }

            @media (min-width: $media-width-tablet) {
                &__arrow {
                    display: none !important;
                }
                &__item {
                    flex-grow: 1;
                    color: inherit;

                    &--active:after {
                        @include scut-triangle(
                            up,
                            ($baseunit * 1.2) ($baseunit * 0.8),
                            $color-white
                        );
                        @include scut-center-transform(x);

                        content: '';
                        bottom: 0;
                    }

                    &:before {
                        display: none;
                    }
                    &__control {
                        color: $color-navy;
                        font-weight: $font-weight-bold;

                        &:hover,
                        &:visited,
                        &:active {
                            background-color: $color-gold-light-1;
                        }
                    }
                    &--active &__control {
                        background-color: $color-gold-light-1;
                    }
                }
            }
        }

        &__slide-container {
            position: relative; // so z-index works
            z-index: $z-index-front-2; // overlay ellipse
        }
        &__slide {
            display: flex;
            padding: ($baseunit * 3) $baseunit 0;

            &__examples {
                display: none;
            }

            @media (min-width: $media-width-tablet) {
                &__description {
                    width: 50%;
                    padding-right: $baseunit * 3;
                }
                &__examples {
                    @include scut-list-unstyled;

                    display: block;
                    width: 50%;
                }
                &__example {
                    border: 1px solid $color-seafoam-dark-2;
                    border-radius: $border-radius;
                    padding: $baseunit;

                    & + & {
                        margin-top: $baseunit * 0.5;
                    }
                }
            }
        }
    }

    &-toolkits {
        @extend .container;
        @include full-width-bg($color-seafoam);
        @include full-width-bg($color-none, $pseudoelement-after: true) {
            top: 10vw;
            height: 115vw;
            width: 80vw;
            margin-left: -90vw;
            background-image: url('../../assets/images/drawing-pencil.png');
            background-position: top right;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: $z-index-front-1;
            opacity: 0.4;
        }

        display: flex;
        justify-content: flex-end;
        padding-top: $ellipse-height;

        &__featured {
            z-index: $z-index-front-2;
        }

        @media (min-width: $media-width-tablet) {
            &:after {
                top: 0;
                height: 85vw;
                width: 60vw;
                margin-left: -70vw;
                opacity: 0.8;
            }
            &__featured {
                width: 50%;
            }
        }
    }

    &-contact {
        @extend .container;
        @extend .container--narrow;
        @include full-width-bg($color-seafoam);

        padding: ($baseunit * 8) 0 0;

        &__form {
            @include full-width-bg($color-white);
            @include full-width-bg($color-white, $pseudoelement-after: true) {
                top: $ellipse-height * -0.5;
                height: $ellipse-height;
                border-radius: 100%;
            }

            position: relative; // so z-index works
            padding: ($baseunit * 2) 0 ($baseunit * 5);
            z-index: $z-index-front-1;
        }

        @media (min-width: $media-width-tablet) {
            @include full-width-bg($color-none, $pseudoelement-after: true) {
                background-image: url('../../assets/images/bg-yellow-waves.png');
                background-position: bottom left -10vw;
                background-repeat: no-repeat;
                background-size: 120vw 50%;
                opacity: 0.7;
            }

            padding: ($baseunit * 8) 0;

            &__form {
                @include card-bg;

                padding: ($baseunit * 2) ($baseunit * 2.5);

                &:before,
                &:after {
                    display: none;
                }
            }
        }
    }
}
